* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(to top right, #338ad4, #37faac);
	color: rgb(40, 40, 40);
}

.navbar {
	min-height: 10vh;
	padding: 0px 16px;
	background: rgba(255, 255, 255, 0.6);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-links,
	.buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.buttons {
		list-style: none;
	}

	.nav-link {
		margin: 0 12px;
		padding: 2px 4px;
		cursor: pointer;
	}

	#remover {
		background: linear-gradient(to top right, #33d4c3, #338ad4);
		border: 1px solid #44cbeb;
		border-radius: 4px;
		color: ivory;
		margin: unset;
		padding: 4px 12px;
	}
}

main {
	#cards-holder {
		min-height: 90vh;
		padding: 24px;
		display: flex;
		align-items: center;

		.card {
			background: linear-gradient(
				to top right,
				rgba(255, 255, 255, 0.4),
				rgba(255, 255, 255, 0.6)
			);
			border-radius: 16px;
			max-width: 30%;
			height: 75vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 16px;
			padding: 16px;

			.card-title {
				text-transform: uppercase;
			}

			.card-body {
				font-style: italic;
				padding-right: 24px;
			}

			.close-card {
				text-decoration: underline;
				cursor: pointer;
				margin-right: 0;
				margin-left: auto;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
