* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: -webkit-gradient(linear, left bottom, right top, from(#338ad4), to(#37faac));
  background: linear-gradient(to top right, #338ad4, #37faac);
  color: #282828;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
}

#title {
  cursor: default;
  pointer-events: none;
  width: 8vw;
  background: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  width: 92vw;
  padding: 0px 16px;
  background: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-links,
.navbar .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .buttons {
  list-style: none;
}

.navbar .nav-link {
  margin: 0 12px;
  padding: 2px 4px;
  cursor: pointer;
}

.navbar #remover {
  background: -webkit-gradient(linear, left bottom, right top, from(#33d4c3), to(#338ad4));
  background: linear-gradient(to top right, #33d4c3, #338ad4);
  border: 1px solid #44cbeb;
  border-radius: 4px;
  color: ivory;
  margin: unset;
  padding: 4px 12px;
}

main {
  height: 90vh;
}

#cards-holder {
  height: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.6)));
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6));
  border-radius: 16px;
  max-width: 30%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px;
  padding: 16px;
}

.card .card-title {
  text-transform: uppercase;
}

.card .card-body {
  font-style: italic;
  padding-right: 24px;
}

.card .close-card {
  text-decoration: underline;
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;
}

.card .close-card:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .top-bar {
    position: fixed;
    top: 0;
    height: 8vh;
  }
  #title {
    pointer-events: auto;
    background: #9bedff;
    width: 20vw;
    z-index: 1;
  }
  .navbar {
    width: 80vw;
    background: #9bedff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar .nav-links,
  .navbar #remover {
    font-size: 10px;
  }
  .navbar .nav-link {
    margin: 0 4px;
  }
  .slide {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  main {
    margin-top: 10vh;
    overflow: scroll;
  }
  #cards-holder {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */